html {
    font-size: 12px
}

body {
    line-height: 1.2;
}

//--------------------------------
// Headings
//--------------------------------
h1,
h2,
h3,
h4 {
    font-weight: 500;
    color: $black;
}

h1 {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1;
    color: $white;
    margin: 0;
}

.navbar-default .navbar-brand {
    color: $white;
    &:hover {
        color: $white;
        text-decoration: none;
    }
    span {
    font-weight: 600;
    color: $white!important;
}
}

.navbar-default .navbar-nav>li>a {
        color: $white;
}

.navbar-default .navbar-nav>li>a:hover {

        color: darken($white, 10);
}
