html {
    font-size: 12px
}

body {
    line-height: 1.2;
}

//--------------------------------
// Headings
//--------------------------------
h1,
h2,
h3,
h4 {
    font-weight: 500;
    color: $black;
}

h1 {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1;
    color: $white;
    margin: 0;
}

a {
    color: $white;
    &:hover {
        color: $white;
        text-decoration: none;
    }
}

h1 span {
    font-weight: 600;
    color: $white!important;
}