@import "colors";
@import "typography";


// ---- Nav Bar ---- /
header {
    width: 100%;
    background-color: black;
}

nav {
    padding: 12px;
    width: 400px;
    margin: 0 auto;
    z-index: 100;
    text-align: center;
}

.logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

main {
    height: 100vh;
    width: 100vw;
    display: table;
}

.container-main {
    margin-top: 60px;
}




// --- TABLE COLOURED --- //


.table tr.White,
.table tr.Black,
.tabe tr.Red,
.table tr.Yellow,
.table tr.Green,
.table tr.Blue,
.table tr.Orange,
.table tr.Colours {
  color: $black;
  transition: all 0.4s ease;
  cursor: default !important;
}

// BLACK
.table tr.Black {
  color: $white !important;
  background: $black!important;
}


// WHITE
.table tr.White {
  background: $white !important;
  color: $black !important;
}


// RED
.table tr.Red {
  background: $red !important;
}


// YELLOW
.table tr.Yellow {
  background: $yellow !important;
}


// GREEN
.table tr.Green {
  background: $green !important;
}

// BLUE
.table tr.Blue {
  background: $blue !important;
}


// ORANGE
.table tr.Orange {
  background: $orange !important;
}


// GREY
.table tr.Grey {
  background: $grey !important;
}


// COLOURS
.table tr.Colours {
  background: lighten($grey, 7) !important;
}

.nav-tabs {
     overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;  
    display: -moz-box;
  }
.nav-tabs>li {
      float:none;
      margin-left: -1px;
    }


.nav-tabs>li>a {
    color: $black;
}

.nav-tabs>li.active>a {
    color: $black;
    font-weight: 700;
}

.tab-pane {
    padding: 14px;
}

.tab-content {
    border: 1px solid $grey;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
table thead tr th {
    padding: 20px 10px !important;
}