html {
  font-size: 12px; }

body {
  line-height: 1.2; }

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: #212121; }

h1 {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1;
  color: #FFFFFF;
  margin: 0; }

a {
  color: #FFFFFF; }
  a:hover {
    color: #FFFFFF;
    text-decoration: none; }

h1 span {
  font-weight: 600;
  color: #FFFFFF !important; }

header {
  width: 100%;
  background-color: #c11808; }

nav {
  padding: 12px;
  max-width: 400px;
  margin: 0 auto;
  z-index: 100;
  text-align: center; }
  nav img {
    width: 30px;
    height: auto;
    margin: 0 4px 1px; }

.container-main {
  margin-top: 60px;
  margin-bottom: 160px; }

.table tr.White,
.table tr.Black,
.tabe tr.Red,
.table tr.Yellow,
.table tr.Green,
.table tr.Blue,
.table tr.Orange,
.table tr.Colours {
  color: #212121;
  transition: all 0.4s ease;
  cursor: default !important; }

.table tr.Black {
  color: #FFFFFF !important;
  background: #212121 !important; }

.table tr.White {
  background: #FFFFFF !important;
  color: #212121 !important; }

.table tr.Red {
  background: #ef5350 !important; }

.table tr.Yellow {
  background: #FFF176 !important; }

.table tr.Green {
  background: #81C784 !important; }

.table tr.Blue {
  background: #64B5F6 !important; }

.table tr.Orange {
  background: #FFB74D !important; }

.table tr.Grey {
  background: #E0E0E0 !important; }

.table tr.Colours {
  background: #f2f2f2 !important; }

.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box; }

.nav-tabs > li {
  float: none;
  margin-left: -1px; }

.nav-tabs > li > a {
  color: #212121; }

.nav-tabs > li.active > a {
  color: #212121;
  font-weight: 700; }

.tab-pane {
  padding: 14px; }

.tab-content {
  border: 1px solid #E0E0E0;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

table thead tr th {
  padding: 20px 10px !important; }

table {
  table-layout: fixed;
  word-wrap: break-word; }
